<h2 class="heading">user grid</h2>
<app-loading-indicator *ngIf="storeItems === undefined"></app-loading-indicator>
<table style="width:100%">
  <tr>
    <th>Picture</th>
    <th>User Name</th>
    <th>Full Name</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of storeItems" style="border:lightgrey solid 1px;">
    <td style="padding:2px;vertical-align:middle">
      <img [src]="item.value.pictureUrl" class="image is-32x32">
    </td>
    <td style="padding:2px;vertical-align:middle">@{{item.value.identity.username}}</td>
    <td style="padding:2px;vertical-align:middle">{{item.value.firstName | titlecase}} {{item.value.lastName | titlecase}}
    </td>
    <td style="float:right">
        <a class="button is-outlined is-small fix-width" 
        [class.is-loading]="isProfileDeletionInProgress(item)"
        (click)="onDelete(item)">
        <span>Delete</span>
        <span class="icon is-small">
          <i class="fas fa-trash"></i>
        </span>
      </a>
    </td>
  </tr>
</table>